*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 99vw;
    height: 100vh;
    border: 2px solid;

}
.details{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 15px;
}
.leftd{
    width: 80%;
  
}
.rightd{
    
    display: flex;
    justify-content: space-between;
   
}
.header{
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-around;
}
.righth{
    width: 50%;
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.lefth{
    width: 50%;
    font-size: xx-large;
    justify-items: center;
}
button{
    color: white;
    width: fit-content;
    background-color: blue;
    padding: 2%;
    border-radius: 5%;
    border: none;
    font-size: 20px;
}
.bg{
    height: 1000px;
   
        background-image:  url(http://jevelin.shufflehound.com/business/wp-content/uploads/sites/39/2019/11/Rectangle-1-copy-7.jpg?id=10);  
        background-repeat: no-repeat;

}
a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.p1-bg{
    color: white;
    
    font-size: 2em;
    justify-self: center;
  
}
.p2-bg{
    color: white;
    
    font-size: 5rem;

}
.p-center{
    height: 380px;
    
    display: grid;
    
    justify-content: center;
    align-content: center;
   
}
i{
    padding: 10px;
}
.icon{
    padding: 10px;
    width: fit-content;
    height: 80px;
    border: 2px solid rgb(78, 78, 245);
    color: white;
    margin: 5px;
    
    border-radius: 10%;
   

}

.slideup{
    width: 100%;
    height: 250px;
    /*border: 2px solid;*/
    color: white;
   
    padding: 20px;
    display: grid;
     gap: 50px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(100px);
    justify-content: center;
    align-items: center;
}
.slide-bg{
    display: grid;
    justify-content: center;
}
.mobile{
 padding: 20px;
 width: 250px;
 height: 250px;
 /*border: 2px solid;*/
}
.mobile{
 padding: 20px;
 width: 250px;
 height: 250px;
 /*border: 2px solid;*/
}
.mobile{
 padding: 20px;
 width: 250px;
 height: 250px;
 /*border: 2px solid;*/
}
.slide-h2{
    padding: 10px;
}
.slide-p{
    padding: 10px;
}

.container-1{
    width: 80%;
    height: 60%;
    margin-left: 10%;
    /*border: 2px solid;*/
    display: grid;
    
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(400px) ;
    justify-content: center;
    align-content: center;
   
    

}
.left-content{
    padding: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 90%;
    height: 73vh;
   /* border: 2px solid;*/

   
}
.about{
    font-size: 40px;
}
.right-img{
    grid-column: 2/4;
    height: 73vh;
    /*border: 2px solid;*/
    
    
}
.right-img {
  width: 100%;
  display: block;

  
  opacity: 0;
  transform: translateX(500px);

  
  animation: slideLeftFade 1s ease-out forwards;
  animation-delay: 0.3s;
  animation-duration: 1.3s;
}
.left-img{
    width: 100%;
  display: block;

 
  opacity: 0;
  transform: translateX(-500px);

  animation: slideRightFade 1s ease-out forwards;
  animation-delay: 0.3s;
  animation-duration: 1.3s;
}
.instaimg{
    border-radius: 15px;
}
.num{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(50px);
    justify-content: center;
    align-items: center;
   
   
}
.a,.b{
    color: blue;
    font-size: 50px;
}
.container-2{
    width: 80%;
    margin-left: 10%;
    /*border: 2px solid;*/
    display: grid;
    
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(400px) ;
    justify-content: center;
    align-content: center;
   
    

}
.left-img{
     grid-column: 1/3;
    height: 73vh;

    /*border: 2px solid;*/
    margin: 30px;
}
.right-content{
    grid-column: 3/4;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 90%;
    height: 73vh;
   /* border: 2px solid;*/

   



}

.blue{
    color: rgb(84, 84, 242);
    padding: 5px;
    font-size: 25px;
}
.grey{
    color: grey;
    font-size: 18px;
    text-align: center;
}
.container-3{
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(250px);
    gap: 30px;
    


}
.box-1{
    border: 2px solid rgb(161, 161, 161);
    border-radius: 5px;
    
    height: 300px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    

}
.box-2{
    border: 2px solid rgb(161, 161, 161);
    border-radius: 5px;
    height: 300px;
     display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 20px;
}.box-3{
    border: 2px solid rgb(161, 161, 161);
    border-radius: 5px;
    height: 300px;
     display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 20px;
}.box-4{
    border: 2px solid rgb(161, 161, 161);
    border-radius: 5px;
    height: 300px;
     display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 10px;
}
.box-h{
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.bg-1{
    background-image: url(http://jevelin.shufflehound.com/business/wp-content/uploads/sites/39/2019/11/Rectangle-532-copy.jpg?id=11);
    height: 500px;
    width: 98vw;
    
}
.container-4{
    width: 100%;
    height: 500px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 10px;

}
.bi-play-fill{
    font-size: 5rem;

}
.white{
    color: white;
    font-size: 4rem;
    text-align: center;
}
.bg-1-p{
    color: white;
    font-size: 24px;
}
.container-5{
    width: 90vw;
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(500px);
    gap: 30px;
    
}
.sub-1{
    width: 80%;
    /*border: 2px solid blue;*/
    border-radius: 10px;
    height: 600px;
    padding: 20px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.sub-2{
    /*border: 2px solid blue;*/
    border-radius: 10px;
    background-color: rgb(230, 234, 235);
    height: 600px;
    padding: 50px;
    
}

.blue-1{
 font-size: 5rem;
 color: blue;
}
.sub-3{
    border: 2px solid blue;
    border-radius: 10px;
    height: 600px;
    padding: 50px;
}
.symbol{
    list-style-type: "  +  ";

}
.bg-2{
    height: 97vh;
    width: 99vw;
    background-image: url(http://jevelin.shufflehound.com/business/wp-content/uploads/sites/39/2019/11/Rectangle-534-copy.jpg?id=12);
    background-repeat: no-repeat;
}
.container-6{
    width: 100%;
    height: 500px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 10px;
}
.container-6>button{
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 10px;
}
.sub-2~button{
    background-color: transparent;
    
    border-radius: 10px;
}
.content{
    height: 70vh;
    width: 99vw;
    
    
    background-color: rgb(33, 33, 33);
    color: white;
    justify-content: center;
    align-content: center;
    
    
    
    

}
.container-7{
    width: 87%;
    
    margin-left: 5%;
    
    
    
}
.jeevlin-1{
    height: 40vh;
    width: 95%;
    padding: 20px;
    
    justify-content: center;
    justify-items: start;
    align-content: center;


}
.jeevlin-2{
    grid-column: 2/4;
    height: 40vh;
    width: 80%;

    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(20px);
    gap:10px;
    
    align-items: center;
}
.Important{
    font-size: 2em;
}

.h1{
    font-size: 3rem;
}
.jeevlin-1>p{
    font-size: 22px;
}
.faq{
    font-size: 20px;
}
.social{
    display: flex;
    gap: 20px;
}
.green{
    width: 70%;
    color: rgb(251, 251, 251);
}
.sub-container-7{
    
    width: 85vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(400px);
    gap: 40px;
    justify-items: center;
   
}
.footer{
    display: flex;
    justify-content: space-between;
}
.rightfooter{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
.nav-toggle {
  display: none;
}
.nav-btn {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
@media (max-width: 700px) {

  
  .nav-btn {
    display: block;
  }

  
  .righth {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    margin-left: 80%;
    display: none;
    text-align: center;
  }

  .righth {
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;
  }

  
  .nav-toggle:checked ~ .righth {
    display: flex;
    flex-direction: column;
    
    width: fit-content;
    
  }

  
  .navbar .nav-menu a {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
}
@media (max-width: 800px) {
    .details{
        display: none;
    }
    .slideup{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .p1-bg{
       font-size: 25px; 
    }
    .p2-bg{
        font-size: 30px;
    }
    .p-center{
        align-content: start;
    }
    .container-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .white{
    font-size: 2rem;
    text-align: center;
    }
    .container-5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sub-container-7{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .content{
    height: 110vh;
    }
    .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    }
    .rightfooter{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

     
}



/* --------------------Animation part--------------------*/
.mobile {
  width: 280px;
  padding: 20px;
  
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);

  
  opacity: 0;
  transform: translateY(40px);

  
  animation: slideUpFade 0.9s ease-out forwards;
}
.sub{
    width: 100%;
  display: block;

  
  opacity: 0;
  transform: translateX(500px);

  
  animation: slideLeftFade1 1s ease-out forwards;
  
  
}
.sub-2 { animation-delay: 0.3s;
  animation-duration: 0.9s;
 }
.sub-3{ animation-delay: 1s;
  animation-duration: 0.9s; }


.mobile:nth-child(1) { animation-delay: 0.5s; }
.mobile:nth-child(2) { animation-delay: 0.9s; }
.mobile:nth-child(3) { animation-delay: 1.3S; }

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideLeftFade1 {
  from {
    opacity: 0;
    transform: translateX(600px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes slideLeftFade {
  from {
    opacity: 0;
    transform: translateX(600px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRightFade {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}







